// Functions 
// -> Px to Rem 
$root-font-size: 16px;
@function toRem($values...) {
  // Check if a single value is passed
  @if length($values) == 1 {
    $value: nth($values, 1);
    @return math.div($value, $root-font-size) * 1rem;
  }
  // Handle multiple values
  @else {
    $rem-values: ();
    @each $value in $values {
      $rem-values: append($rem-values, math.div($value, $root-font-size) * 1rem);
    }
    @return $rem-values;
  }
}

// -> Breakpoints
$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);

@mixin breakpoint($breakpoint) {
  $width: map-get($breakpoints, $breakpoint);

  @if $width {
    @media (min-width: $width) {
      @content;
    }
  } @else {
    @error "Unknown breakpoint: #{$breakpoint}.";
  }
}
